<form id="register-form" data-if="state.register" style="display: none;">
  <div class="card-body">
    <p>Default component</p>
    <input type="text" name="name" placeholder="Name..." class="form-control mb-3" required>
    <input type="email" name="email" placeholder="Email..." class="form-control mb-3" required>
    <input type="password" name="password" placeholder="Password..." class="form-control mb-3" required>            
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <div class="col">
        <button type="button" class="btn btn-outline-primary" data-click="state.goToLogin()">Back</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</form>